
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-scroll-courses{
    z-index: 100;
    background-color: #ffffff;
}
.menu-scroll-courses{
    .div-item{
        ul{
            li{
                a{
                    color: #000000;
                }
            }
        }
    }
}
.U-menu-bar-courses{
    display: none;
}
header{
    width: 100%;
}
.container-menu-courses{
    width: 100%;
    display: flex;
    position: fixed;
}
.div-logo-courses{
    width: 30%;
}
.logo-courses{
    height: 1.5rem;
    margin: 25px 0 15px 40px;
}
.div-item-courses{
    width: 70%;
}
.div-item-courses{
    ul{
        list-style: none;
        float: right;
    }
}
.div-item-courses{
    ul{
        li{
            list-style: none;
            float: left;
        }
    }
}
.div-item-courses{
    a{
        padding: 25px 20px 15px 20px;
        margin: 0 10px;
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: #000000;
        font-family: 'Lato', sans-serif;
        box-sizing: border-box;
    }
}
.U-title-logo-courses,
.fa-times,
.fa-bars,
.U-img-logo-menu-courses{
    display: none;
}
.card{
    width: 45%;
    height: 280px;
    position: relative;
    display: flex;
    margin: 20px 10px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        transform: translateY(-5px);
        box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.4);
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}
.card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 280px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    img{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
.card-content-text{
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 280px;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    .card-text{
        width: 100%;
        height: 230px;
        
    }
    .card-information{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #ececec;
        border-bottom: 2px solid #ececec;
    }
}
.link-courses{
    color: #000000;
    &:hover{
        text-decoration: none;
        color: #6700B6;
    }
    &:active{
        color: #6700B6; 
    }
}
.button-courses{
    border: 1px solid #6D00E8;
    color: #6D00E8;
    padding: 5px 10px;
    position: relative;
    &:hover{
        background-color: #6D00E8;
        color: #ffffff;
        text-decoration: none;
    }
}



/****************DEVICE EXTRA SMALL***************/
@media (min-width:0px) and (max-width: 575px){
    .menu-scroll-courses{
        z-index: 100;
        background-color: #ffffff;
    }
    .div-logo-courses{
        display: none;
    }
    .U-menu-bar-courses{
        display: block;
        padding: 15px 20px;
        position: fixed;
        width: 100%;
    }
    .div-item-courses{
        width: 100%;
        height: 100%;
        position: fixed;
        top: -100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
    }
    .div-item-courses{
        ul{
            float: none;
        }
    }
    .div-item-courses{
        ul{
            li{
                float: none;
            }
        }
    }
    .div-item-courses{
        ul{
            li{
                a{
                    padding: 30px 40px;
                    display: block;
                    text-decoration: none;
                    color: #000000;
                    font-size: 20px;
                }
            }
        }
    }
    .U-title-logo-courses{
        display:  block;
        font-size: 45px;
        font-weight: bold;
        padding: 20px 0 20px 40px;
    }
    .fa-times{
        display: block;
        font-size: 30px;
        position: absolute;
        top: 30px;
        right: 20px;
        color: #6700B6;
    }
    .fa-bars{
        display: block;
        font-size: 30px;
        position: absolute;
        top: 30px;
        right: 20px;
        color: #6700B6;
    }
    .menu-scroll-courses{
        .fa-bars{
            background-color: #6700B6;
        }
    }
    .U-img-logo-menu-courses{
        display: block;
        height: 1.5rem;
        position: absolute;
        left: 20px;
        top: 35px;
    }
    .element-hide{
        display: none;
    }
    .card-courses{
        width: 90%;
        height: 300px;
        margin: 20px 0;
    }
    .card{
        width: 90%;
        height: 450px;
        background-color: #ececec;
        position: relative;
        display: flex;
        margin: 40px 0;
    }
    .card-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }
    .card-content-text{
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
    }
}
/******************DEVICE  SMALL******************/
@media (min-width: 576px) and (max-width: 767px) {
    .div-logo-courses{
        display: none;
    }
    .logo-courses{
        margin: 15px 0 15px 15px;
    }
    .U-menu-bar-courses{
        display: block;
        padding: 15px 20px;
        position: fixed;
        width: 100%;
    }
    .div-item-courses{
        width: 100%;
        height: 100%;
        position: fixed;
        top: -100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
    }
    .div-item-courses{
        ul{
            float: none;
        }
    }
    .div-item-courses{
        ul{
            li{
                float: none;
            }
        }
    }
    .div-item-courses{
        ul{
            li{
                a{
                    padding: 30px 40px;
                    display: block;
                    text-decoration: none;
                    color: #000000;
                    font-size: 20px;
                }
            }
        }
    }
    .U-title-logo-courses{
        display:  block;
        font-size: 45px;
        font-weight: bold;
        padding: 20px 0 20px 40px;
    }
    .fa-times{
        display: block;
        font-size: 30px;
        position: absolute;
        top: 30px;
        right: 20px;
        color: #6700B6;
    }
    .fa-bars{
        display: block;
        font-size: 30px;
        color: #ffffff;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu-scroll-courses{
        .fa-bars{
            background-color: #6700B6;
        }
    }
    .U-img-logo-menu-courses{
        display: block;
        height: 1.5rem;
        position: absolute;
        left: 40px;
        top: 35px;
    }
    .card{
        width: 90%;
        height: 450px;
        background-color: #ececec;
        position: relative;
        display: flex;
        margin: 40px 0;
    }
    .card-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }
    .card-content-text{
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
    }
}